<!DOCTYPE html>
<html>
  <head>
    <meta charset= 'UTF-8'
    <meta content= '[@justinveirs] All Over + Aspiring Developer + Trying to Hustle' name='description'>
    <title>Justin Veirs | Portfolio</title>
  </head>

<body>
  <a href="/"> Home </a>
  <a href="/first"> First page </a>
  <a href="/second"> Second page </a>


  <h1>About me</h1>
    <p>some know me as cheeze, others know me as justin. both are acceptable.</p>
    <p>i decided to dig up a few quotes, however, only using one to provide
      some insight on how i feel, and why I decided to follow my heart.</p>
    <li>Quote by Carlos Castaneda<li>
      <ol>"Look at every path closely and deliberately, then ask outselves this
        crucial question: Does this path have a heart? If it does, then the
        path is good. If it doesn't, then it is of no use to us."</ol>

  <h2>Interests</h2>
    <p>I think I'm interested in everything, really, though really only a few
      certainly hit home.</p>
    <li>off the jump</li>
    <p>learning how to hack</p>
    <ol>deeply layered music allowing me to explore my consciousness<ol>
    <p>my taste in music steams from a couple friends I hold close to my heart</p>
    <p>to name a few, tool,












<footer>
  cell: <span class="tel">301-785-1480</span>
  Email: <a class="email" href="mailto:justinveirs@gmail.com">justinveirs@gmail.com</a>
</footer>
<p> <%= Time.now.asctime %> </p>
</body>
</html>
